
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.flag {
    display: block;
    margin: 5px;
    padding: 0;
}

    .flag .img-wrapper img {
        max-width: 90px;
        max-height: 60px;
        object-fit: cover;
        object-position: center;
        border: 1px solid black;
    }

    .flag .img-wrapper {
        width: 90px;
        height: 60px;
        background-image: radial-gradient(circle at 1px 1px, #aaa 1px, transparent 0);
        background-size: 5px 5px;
        background-position: 2px 2px;
    }

    .flag.mini .img-wrapper {
        width: 60px;
        height: 48px;
    }

.flag-detail {
    font-size: 14px;
    position: relative;
}

.flag.mini .img-wrapper img {
    width: 60px;
    height: 48px;
    object-fit: cover;
    object-position: center;
    border: 1px solid black;
}

.flag.mini .flag-detail {
    width: 60px;
    overflow: hidden;
    line-break: none;
    height: 18px;
}

.flag-detail {
    max-width: 100px;
    margin-bottom: 2.5em;
}

    .flag-detail .flag-name {
        max-height: 2em;
        margin: 0;
    }

    .flag-detail .color {
        display: inline-block;
        padding: 3px;
    }

    .flag-detail input[type="submit"] {
        width: 100%;
    }

.flags-grid {
    display: flex;
    align-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 20px;
}

.tags li {
    margin-bottom: 5px;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 0;
}

section {
    margin-bottom: 2em;
}

.max-height-50vh {
    max-height: 50vh;
    overflow-y: scroll;
}
/*
.w-50 {
    width: 50%;
}*/

.clicky {
    cursor: pointer;
}

.hidden {
    display: none;
}

.red {
    color: red;
}

.green {
    color: green;
}

.btn {
    border: none;
}

.btn-hard {
    background-color: #2fda8b;
}

.btn-medium {
    background-color: #34da2f;
}

.btn-easy {
    background-color: #b6ff00;
}

.btn-orange {
    background-color: #ff8c00;
}

.country-suggestions {
    position: absolute;
    top: 36px;
    background-color: white;
    border: 1px solid lightgray;
    border-top: none;
    z-index: 10;
}

.country-suggestions li {
    border-top: 1px solid lightgray;
    width: auto;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
