
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.flag {
    display: block;
    margin: 5px;
    padding: 0;
}

.flag .img-wrapper img {
    width: 100px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border: 1px solid black;
}

.flag .img-wrapper {
    width: 100px;
    height: 60px;
}

.flag.mini .img-wrapper {
    width: 30px;
    height: 24px;
}


.flag.mini .img-wrapper img {
    width: 30px;
    height: 24px;
    object-fit: cover;
    object-position: center;
    border: 1px solid black;
}

.flag-detail {
    max-width: 100px;
}

.flag-detail input[type="submit"] {
    width: 100%;
}

.flags-grid {
    display: flex;
    align-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 20px;
}



li {
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 0;
}

section {
    margin-bottom: 2em;
}

.max-height-50vh {
    max-height: 50vh;
    overflow-y: scroll;
}
/*
.w-50 {
    width: 50%;
}*/

.clicky {
    cursor: pointer;
}
